/* Общие стили для страницы */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
    overflow-x:hidden;
    justify-content: center; /* Если нужно центрировать содержимое */
    box-sizing: border-box; /* Для учета паддингов */
    width: 100%;
}


.background-overlay {
    position: fixed; /* Зафиксируйте относительно окна браузера */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    transition: opacity 1s ease;
    opacity: 1;
}


.background-overlay-1 {
    background-image: url("backgrounds/StartPage.png"); /* Начальный фон */
    opacity: 1; /* Начальный фон видим */
}

.background-overlay-2 {
    background-image: url("backgrounds/VideoWatched.svg"); /* Начальный фон */
    opacity: 0; /* Второй фон невидим */
}

.content {
    width: 100%; /* Ширина занимает доступное пространство */
    position: relative;
    z-index: 1; /* Устанавливаем поверх фона */
    box-sizing: border-box; /* Учитываем padding в ширине */
    display: flex;
    flex-direction: column; /* Расположение содержимого вертикально */
    justify-content: flex-start; /* Начинает с верхней части */
    min-height: 100vh; /* Минимальная высота равна высоте экрана */
}



/* Header */
.header {
    background: #FFFFFF;
    padding: 20px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 4px 0 #00000026;
    border-radius: 0 0 25px 25px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    z-index: 3;
}

.header h1 {
    font-family: Konkhmer Sleokchher, serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 87px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #000000;

}

.header p {

    font-family: Kodchasan;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;


    color: #000000;
}

/* Стиль кнопки загрузки */
.upload-section {
    text-align: center;
    background: #1E1E1E;
    border-radius: 20px;
    width: 195px;
    margin: 25px auto 50px auto;
}

.upload-section button {
    background: #1E1E1E;
    width: 195px;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 32px;
    border-radius: 20px;
    cursor: pointer;

}

.upload-section button:hover {
    background-color: #555;
}

#progressContainer {
    width: 410px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0; /* Убираем разрыв между элементами */
    margin-top: 0; /* Убираем дополнительный верхний отступ */
    position: relative; /* Если нужно будет сдвигать через top */
    margin-left: auto;
    margin-right: auto

}

#progressOuter {
    width: 250px;
    max-width: 400px;
    height: 16px;
    border-radius: 25px;
    overflow: hidden;
    border: 1px solid #FFFFFF;
    position: relative;
    box-shadow: 0 4px 4px 0 #00000026;
    margin-top: -10px; /* Делаем ближе к кнопке */

}

#progressInner {
    height: 100%;
    width: 0;
    background: #FFFFFF;
    transition: width 0.3s ease;
}

#progressText {
    font-size: 14px;
    color: #333;
}




.instructions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    max-width: 1200px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto
}

.instruction {
    background-color: #fff;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    margin-top: 10px;
}

.instruction img {
    width: 100%;
    height: auto;
    border-radius: 25px;
    object-fit: contain;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.instruction p {

    color: #333;
    font-family: Kodchasan;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.footer {

    font-family: Konkhmer Sleokchher;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    box-sizing: border-box;
    display: flex;

    margin-left: auto;
    margin-right: auto;



    color: #FFFFFF;


}



.stats-page {
    width: 100%;
    max-width: 900px;
    /*min-height: 400px; чутка хуйня(если да то секс на слайдах, но пиздец на final-text и наоборот)*/
    margin: -3px auto;
    background-color: #FFFFFF;
    border-radius: 0 0 25px 25px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    z-index: 2;
}

.stats-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.stats-header h2 {
    font-size: 2rem;
    color: #333;
}

#backButton {
    background-color: #222;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: Kodchasan;
}

#backButton:hover {
    background-color: rgba(0, 0, 0, 0.48);
}

.slideshow {
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 200px; /* Минимальная высота */
    height: auto; /* Высота будет адаптироваться к контенту */
    border-radius: 15px;
    overflow: hidden;
}

.stat-card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    margin: 0;
    border-radius: 15px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.5);
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease;
}

.stat-card h3 {
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.stat-card p {
    font-size: 1.2rem;
    font-family: Kodchasan;
    color: #555;
}

.stat-card:nth-child(odd) {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.73);
}

.stat-card:nth-child(even) {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.73);
}

.stat-card.active {
    opacity: 1;
}

.final-text {
    box-sizing: border-box;
    margin-top: 20px;
    padding: 0 20px 20px 20px;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #000000;
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    animation: fadeIn 1s ease-in-out;
    z-index: 2;
}

.final-text h2 {
    color: #333;
    font-family: Kodchasan;
    font-size: 32px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.final-text p {
    color: #555;
    margin: 10px 0;
    word-wrap: break-word;
    font-family: Kodchasan;
    font-size: 26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.final-text .stats-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: Kodchasan;
    font-size: 26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.final-text .stats-list li {
    margin-bottom: 8px;
    font-size: 1.2rem;
}

.final-text .stats-list li span {
    font-weight: bold;
}

.final-text button {
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}



.final-text button:focus {
    outline: none;
}

/* Стили для модальных окон */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    max-height: 80vh; /* Ограничиваем высоту окна */
}

.modal-content h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

#commentsList, #searchHistoryList, #searchUsedHashtagsList {
    font-size: 1em;
    color: #444;
    line-height: 1.6;
    margin: 0;
    padding: 10px 0;
}

#commentsList p, #searchHistoryList p , #searchUsedHashtagsList{
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

#commentsList p:last-child, #searchHistoryList p:last-child, #searchUsedHashtagsList p:last-child {
    border-bottom: none;
}

/* Прокручиваемый список для модальных окон */
.scrollable-list {
    max-height: 300px;
    overflow-y: auto;
    padding-right: 15px; /* Для скролла */
}

/* Кнопка закрытия для модальных окон */
button#closeCommentsModal, button#closeSearchHistoryModal, button#closeUsedHashtagsModal {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

button#closeCommentsModal:hover, button#closeSearchHistoryModal:hover, button#closeUsedHashtagsModal:hover {
    background-color: #e53935;
}

button#closeCommentsModal:focus, button#closeSearchHistoryModal:focus, button#closeUsedHashtagsModal:focus {
    outline: none;
}

/* Стили для кнопок в конце */
button#viewCommentsBtn, button#viewSearchHistoryBtn , button#viewUsedHashtagsBtn {
    background: #70A7E1;
    color: white;
    border: none;
    padding: 12px 24px;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: Konkhmer Sleokchher;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

button#viewCommentsBtn:hover, button#viewSearchHistoryBtn:hover, button#viewUsedHashtagsBtn:hover {
    background-color: #1976D2;
}

button#viewCommentsBtn:focus, button#viewSearchHistoryBtn:focus, button#viewUsedHashtagsBtn:hover {
    outline: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Мобильная адаптация */
@media (max-width: 768px) {

    #progressContainer {
        width: 250px;
    }

    .stats-page {
        margin-left: auto;
        margin-right: auto
    }
    .final-text{
        margin-left: auto;
        margin-right: auto
    }

    .stat-card {
        width: 90%;
        margin-left: auto;
        margin-right: auto
    }

    .instructions {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start; /* Липнем к левому краю */
        margin-left: auto;
        margin-right: auto
    }

    .instruction {
        width: 100%;
        margin-left: auto;
        margin-right: auto
    }
}

@font-face {
    font-family: 'Konkhmer Sleokchher Regular';
    font-style: normal;
    font-weight: normal;
    src:url('fonts/KonkhmerSleokchher-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Kodchasan';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/KodchasanRegular400.ttf') format('truetype');
}
